/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets. 
l-bl block block-config-provider--layout-builder block-plugin-id--inline-block-basic has-title block--type-basic block--view-mode-full
 ============================================================================ */

.lotusot-slideshow-0 {
height:400px;
}
#block-whowesupport{
padding:1.5em;

}

#block-clients{
padding:1.5em;

}

#block-conditionsweworkwith{
padding:1.5em;

}